# backend/.env.example
MONGO_URI="MongoDB connection string goes here"
PORT= "5000"
JWT_SECRET=replace-this-with-any-long-random-string-for-now
STRIPE_SECRET_KEY=replace-with-your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=replace-with-your-stripe-webhook-secret
FRONTEND_URL=http://localhost:5173
CORS_ORIGIN=http://localhost:3000